---
const { title, description, image } = Astro.props
const defaultImage = 'https://gregskril.com/img/banner.jpg'
const images = Array.isArray(image) ? image : [image || defaultImage]
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/png" href="/img/favicon-32.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png" />
<link rel="icon" type="image/png" sizes="64x64" href="/img/favicon-64.png" />
<link rel="icon" type="image/png" sizes="128x128" href="/img/favicon-128.png" />

<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{images.map((img) => <meta property="og:image" content={img} />)}

<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content="Greg Skriloff" />
<meta name="twitter:card" content="summary_large_image" />

<!-- Privacy-friendly analytics by Plausible -->
<script is:inline async src="/blah/js/script.js"></script>
<script is:inline>
  ;((window.plausible =
    window.plausible ||
    function () {
      ;(plausible.q = plausible.q || []).push(arguments)
    }),
    (plausible.init =
      plausible.init ||
      function (i) {
        plausible.o = i || {}
      }))
  plausible.init({
    endpoint: '/blah/api/event',
  })
</script>
